* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: sans-serif;
}

h1 {
  color: white;
  padding: 3rem;
  background-color: purple;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

#add-book {
  padding: 1.2rem;
  font-size: 1.2rem;
  border: none;
  background-color: rgb(221, 122, 221);
  border-radius: 0.5rem;
  color: rgb(54, 6, 54);
  cursor: pointer;
  transition: 0.2s;
}
#add-book:hover {
  background-color: rgb(197, 53, 197);
  color: white;
}

#form {
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(221, 122, 221, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  color: white;
  background-color: rgb(197, 53, 197);
  height: 18rem;
  width: 16rem;
  text-align: left;
  padding: 1.2rem;
  border-radius: 5px;
}
label {
  display: block;
  margin: 1rem 0;
}
input {
  margin-top: 0.2rem;
  width: 100%;
  border-radius: 2px;
  padding: 0.1rem;
}
input[type="checkbox"] {
  position: absolute;
  bottom: 5%;
  left: 20%;
}

#submit-el {
  text-transform: uppercase;
  background-color: rgb(122, 23, 122);
  border: none;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: white;
  letter-spacing: 1.5px;
  border-radius: 5px;
  cursor: pointer;
}

.main {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  gap: 1.9rem;
  justify-content: center;
}
.main div {
  position: relative;
  background-color: rgba(159, 74, 207, 0.315);
  padding: 1.2rem;
  text-align: left;
  min-height: 10rem;
  max-height: 15rem;
  border-radius: 5px;
  box-shadow: 5px 5px 3px rgba(68, 6, 104, 0.315);
}
.main div p:first-of-type {
  color: rgb(158, 14, 179);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.main div p:last-of-type {
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 1.1rem;
  color: #530953;
}
.main button:last-of-type {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.829);
  color: white;
  font-weight: bold;
  font-size: 10px;
  top: -10px;
  right: -10px;
  cursor: pointer;
  transition: 0.1s;
}
.main button:last-of-type:hover {
  background-color: black;
  transform: scale(1.3);
}
